@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

.title {
  font-family: Roboto, sans-seriff;
  font-size: 40px;
  color: white;
  margin-bottom: 40px; }

.black {
  color: #4285F4; }

.content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.section {
  padding: 100px 0 150px 0;
  text-align: center; }

.gdglogo {
  width: 6rem; }

nav {
  box-shadow: 0 0 100px 5px rgba(0, 0, 0, 0.7);
  background-color: white;
  position: fixed;
  width: 100%; }
  nav div {
    width: 80%;
    height: inherit;
    display: flex;
    margin: 0 auto; }
    nav div div {
      flex: 3; }
    nav div ul {
      height: inherit;
      align-items: center;
      display: flex;
      flex: 1; }
      nav div ul a {
        height: 100%; }
        nav div ul a:hover {
          border-bottom: 3px solid #4285F4;
          transition: 0.1s; }
      nav div ul li {
        padding: 0 2vw;
        font-size: 20px;
        margin-top: 20px;
        font-family: "Roboto", sans-serif; }

.headerContainer {
  background-image: url("../img/background.jpg");
  background-size: cover;
  margin-top: 65px;
  background-position: center; }
  .headerContainer .op {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4); }
    .headerContainer .op .header-content {
      height: 400px;
      width: 800px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      margin: 150px 0 220px 0; }
      .headerContainer .op .header-content img {
        width: 340px; }
      .headerContainer .op .header-content h1 {
        font-family: Roboto;
        font-size: 34px;
        color: white; }

.eventsContainer h1 {
  color: #4285F4; }
.eventsContainer .events {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .eventsContainer .events .event1, .eventsContainer .events .event2, .eventsContainer .events .event3 {
    width: 300px;
    background-repeat: no-repeat;
    height: 300px;
    margin: 20px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.1s;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.4); }
    .eventsContainer .events .event1:hover, .eventsContainer .events .event2:hover, .eventsContainer .events .event3:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4);
      cursor: pointer; }
    .eventsContainer .events .event1 img, .eventsContainer .events .event2 img, .eventsContainer .events .event3 img {
      width: 100%; }

.colaboradoresContainer {
  background-color: #4285F4;
  display: flex;
  justify-content: center;
  align-items: center; }
  .colaboradoresContainer div p {
    font-size: 20px;
    color: black;
    font-family: Roboto, sans-seriff; }
  .colaboradoresContainer div .img {
    width: 250px;
    border-radius: 50%;
    margin: 20px; }
    .colaboradoresContainer div .img:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4); }
  .colaboradoresContainer div .icons {
    padding: 0 5px; }

.contatoContainer {
  background-color: #4285F4; }

/*# sourceMappingURL=style.css.map */
