@font-face {
  font-family: Averta Std;
  src: url(/fonts/avertastd-bold-webfont.b7005d2b.woff2) format("woff2"),
    url(/fonts/avertastd-bold-webfont.919de0f9.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Averta Std;
  src: url(/fonts/avertastd-regular-webfont.85aac53d.woff2) format("woff2"),
    url(/fonts/avertastd-regular-webfont.8200a566.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "Averta Std" !important;
  color: #444;
}
body {
  margin: 0;
  overflow-x: hidden;
}
